<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>userservice</servlet-name>
		<servlet-class>com.programmeren4.turnahead.server.UserDataServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginservice</servlet-name>
		<servlet-class>com.programmeren4.turnahead.server.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userservice</servlet-name>
		<url-pattern>/home/userservice</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>loginservice</servlet-name>
		<url-pattern>/home/loginservice</url-pattern>
	</servlet-mapping>
</web-app>
